nav {
    width: 100%;
    box-shadow: 0px 0px 10px 3px rgb(100, 100, 100);

    .navContainer {
        display: flex;
        padding: 10px;
        justify-content: space-around;
        align-content: center;

        h1 {
            color: var(--textColor);
            font-weight: 700;
        }

        ul {
            display: flex;
            gap: 30px;
            
            li {
                list-style-type: none;
                display: flex;
                cursor: pointer;

                .active {
                    color: cadetblue;
                }

                a {
                    align-self: center;
                    color: var(--textColor);
                    font-weight: 200;
                    font-size: 18px;
                    text-decoration: none;
                    transition: all;
                }

                a:hover {
                    color: cadetblue; 
                }
            }
        }
    }
}

main {
    
    .mainContainer {
        text-align: center;
        margin-top: 160px;
    
        h2 {
            font-weight: 600px;
            color: var(--textColor);
        }

        button {
            padding: 10px;
            font-size: 18px;
            font-weight: 700;
            margin-top: 15px;
            background-color: transparent;
            border-radius: 5px;
            color: var(--textColor);
        }

        button:active {
            font-size: 20px;
        }
    }
}

footer {
    position: fixed;
    background-color: var(--backgroundColor);
    box-shadow: 0px 0px 10px 3px rgb(100, 100, 100);
    width: 100%;
    min-height: 30px;
    bottom: 0;

    .footerContainer {
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-around;
    
        h3 {
            align-self: center;
            color: var(--textColor);
            padding: 10px;
        }
    }
}